
<h3 class="text-center mt-4">Edit Article</h3>
<%= render 'form', article: @article  %>

<%
=begin %>
  <% if  @article.errors.any? %>
    <h1>Errors</h1>
    <ul>
      <% @article.errors.full_messages.each do |err| %>
        <li>
          <%= err %>
        </li>   
      <% end %>
    </ul>
  <% end  %>
  <%= form_for @article, :html=>{:class => 'shadow p-3 mb-3 bg-info rounded' }, url: {controller:"articles", action: "update"} do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
    <%= render 'form', article: @article %>

    <%= link_to 'Show', @article %> 
    <%= link_to 'Back', articles_path %>
<%
=end %>

